/* @tailwind components; */

@layer components {
	header,
	section:has(.hero) {
		background: #abcece;
		color: #475a59;
	}

	footer {
		background: #abcece !important;
	}

	footer span {
		color: #475a59 !important;
	}
	footer svg rect,
	.logo path {
		fill: #475a59;
	}
	.logo path.cls-1 {
		fill: none;
	}
	section:has(.hero) h1 > span {
		/* @apply relative; */
		background: linear-gradient(to top, #fff 60%, transparent 50%);
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone;
		padding: 0 20px;
		border-radius: 50% 9em 50% 3em;

		/* with animation */
		/* -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
		animation: 1.5s highlight 1.5s 1 normal forwards;
		background-color: none;
		background: linear-gradient(90deg, #fff 50%, rgba(255, 255, 255, 0) 50%);
		background-size: 200% 100%;
		background-position: 100% 0; */

		/* using box-shodow */
		/* box-shadow: inset 0px -34px 0px 0px #fff;
		padding: 0 20px;
		box-decoration-break: clone;
		-webkit-box-decoration-break: clone; */
	}

	@-webkit-keyframes highlight {
		to {
			background-position: 0 0;
		}
	}

	@keyframes highlight {
		to {
			background-position: 0 0;
		}
	}

	section.design-process {
		background: linear-gradient(to bottom, #f8f8f8 65%, #abcece 0%);
	}

	button.btn,
	button.btn.secondary {
		@apply text-neutral-100 bg-[#D97360];
		box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
	}
}
