@import url('fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* TODO: hero background */
	.hero {
		position: relative;
		z-index: 0;
	}
	.hero:after {
		z-index: -1;
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		background-image: url('/images/designer-life.png'), url('/images/browsers.png');
		background-position: bottom -20px left -70px, bottom 150px right -120px;
		background-size: 50%, 50%;
		background-attachment: fixed, fixed;
		background-repeat: no-repeat;
	}
	.hero:before {
		z-index: -2;
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		background-image: url('/images/shape-1.png'), url('/images/shape-2.png');
		background-position: bottom 170px left -10px, bottom 100px right -120px;
		background-size: 40%, 60%;
		background-attachment: fixed, fixed;
		background-repeat: no-repeat;
	}
	@media (min-width: 1024px) {
		.hero:after {
			z-index: -1;
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('/images/designer-life.png'), url('/images/browsers.png');
			background-position: bottom -20px left 10px, bottom -25px right 10px;
			background-size: 547px, 603.35px;
			background-attachment: fixed, fixed;
			background-repeat: no-repeat;
		}
		.hero:before {
			z-index: -2;
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('/images/shape-1.png'), url('/images/shape-2.png');
			background-position: bottom 170px left 10px, bottom 100px right 70px;
			background-size: 481.53px, 514.88px;
			background-attachment: fixed, fixed;
			background-repeat: no-repeat;
		}
	}
	.hero:before,
	.hero:after {
		display: none;
	}
}

@layer base {
	button.btn {
		@apply flex justify-center items-center gap-1 rounded-md;
		padding: 14px 32px;
		box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
	}
	button.btn.secondary {
		@apply border bg-neutral-200 border-neutral-400 text-neutral-600 font-poppins text-sm;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	h1.title {
		@apply font-abhaya;
	}

	h1.title {
		@apply text-[40px] leading-[40px];
	}
	h1 {
		@apply text-5xl leading-[48px];
	}
	h2 {
		@apply text-4xl leading-[36px];
	}

	p,
	span {
		@apply font-poppins text-neutral-600;
	}
	p {
		@apply text-base font-normal leading-6;
	}

	.center-all {
		@apply flex justify-center items-center;
	}
}

:root {
	font-family: Roboto, Sen, Abhaya Libre ExtraBold;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	/* height: 100vh; */
}
